---
import Button from "../components/Button.astro";
import TextField from "../components/TextField.astro";
import Layout from "../layouts/Layout.astro";
import { default as ArticleModel } from "../model/Article";
import Article from "../components/Article.astro";

/*export interface Props {
  date_debut?: any;
  date_fin?: any;
  object_name?: string;
  movie_name?: string;
  base_price_min?: number;
  base_price_max?: number;
  current_price_min?: number;
  current_price_max?: number;
  nb_participants?: number;
}

const { date_debut, date_fin, object_name, movie_name, base_price_min, base_price_max, current_price_min, current_price_max, nb_participants } = Astro.props;
*/

const start_date = Astro.url.searchParams.get('start_date') || new Date(0);
const end_date = Astro.url.searchParams.get('end_date') || new Date();
const object_name = Astro.url.searchParams.get('object_name') || '';
const movie_name = Astro.url.searchParams.get('movie_name') || '';
const base_price_min = Astro.url.searchParams.get('base_price_min') || 0;
const base_price_max = Astro.url.searchParams.get('base_price_max') || 69000;
const current_price_min = Astro.url.searchParams.get('current_price_min') || 0;
const current_price_max = Astro.url.searchParams.get('current_price_max') || 69000;
const PAGE_SIZE = 10;
const page = Math.max(parseInt(Astro.url.searchParams.get('page')) || 1, 1);

let articles = await ArticleModel.getBySearchFilter(object_name,movie_name,new Date(start_date),new Date(end_date),Number(base_price_min),Number(base_price_max),Number(current_price_min),Number(current_price_max), {
    limit: 20,
	offset: 0,
});

const length = articles.length;
const hasMore = articles.length > page * PAGE_SIZE;
if (hasMore) {
	articles = articles.slice((page - 1) * PAGE_SIZE, page * PAGE_SIZE);
}
const pages = [...Array(Math.ceil(length / PAGE_SIZE)).values()];
---

<Layout title="filter-page">
    <main>
        <aside>
            <h1>Filtres</h1>
            <form method="post" action="/filter-page">
                <TextField placeholder="Nom de l'objet" text={object_name} name="object_name"/>
                <TextField placeholder="Nom du film" text={movie_name} name="movie_name"/>
                <section>
                    <h2>Prix de base :</h2>
                    <h3>Min</h3>
                    <input type="range" name="base_price_min"/>
                    <h3>Max</h3>
                    <input type="range" name="base_price_max"/>
                </section>
                <section>
                    <h2>Prix actuel :</h2>
                    <h3>Min</h3>
                    <input type="range" name="current_price_min"/>
                    <h3>Max</h3>
                    <input type="range" name="current_price_max"/>
                </section>
                <h2>Date de début des enchères :</h2>
                <input type="date" name="start_date"/>
                <h2>Date de fin des enchères :</h2>
                <input type="date" name="end_date"/>
                <br>
                <Button text="Filtrer" />
            </form>
        </aside>
        <section>
            <h1>Tous les produits</h1>
            <ul>
                {articles.map((article) => <Article article={article} />)}
            </ul>
            <div>
                <span>
                    {
                        page > 1 && (
                            <a href={`?object_name=${object_name}&movie_name=${movie_name}&base_price_min=${base_price_min}&base_price_max=${base_price_max}&current_price_min=${current_price_min}&current_price_max=${current_price_max}&start_date=${start_date}&end_date=${end_date}&page=${page - 1}`}>Précédent</a>
                        )
                    }
                    {
                        pages.map((_, i) => (
                            <a
                                href={`?object_name=${object_name}&movie_name=${movie_name}&base_price_min=${base_price_min}&base_price_max=${base_price_max}&current_price_min=${current_price_min}&current_price_max=${current_price_max}&start_date=${start_date}&end_date=${end_date}&page=${i + 1}`}
                                class={i + 1 === page ? 'active' : ''}
                            >
                                {i + 1}
                            </a>
                        ))
                    }
    
                    {hasMore && <a href={`?object_name=${object_name}&movie_name=${movie_name}&base_price_min=${base_price_min}&base_price_max=${base_price_max}&current_price_min=${current_price_min}&current_price_max=${current_price_max}&start_date=${start_date}&end_date=${end_date}&page=${page + 1}`}>Suivant</a>}
                </span>
            </div>
        </section>
    </main>
</Layout>
<style>
    main{
        display: flex;
        
    }
    aside{
        background-color: #222222;
        width: 25%;
        text-align: center;
    }
    section{
        background-color: #353A4D;
        margin-left: 10rem;
        width: 45%;
        text-align: center;
    }
    *{
        color: whitesmoke;   
    }
    h2{
        font-size: 1rem;
    }

</style>