---
import Article from '../model/Article';
import Bids from '../model/Bids';
import { dateDiff } from '../model/Utilitaire';

export interface Props {
	article: Article;
}

const { article } = Astro.props;

const id = article.getId();
const titre = article.getName();
const image = await article.getPoster();
const finVente = article.getFinVente();
const ends = dateDiff(finVente, new Date());
const prix = await Bids.getEnchereMax(article);
const description = article.getDescription();
---

<article>
	<div class="gradient">
		<div class="bigchungus">
			<div class="img_container"><img src={image} alt={titre} /></div>
		</div>
		<aside>
			<h1>{titre}</h1>
			<p>Valeur actuelle : {prix} €</p>
			<p>Description : {description}</p>
			<p>Se termine dans {ends.day}j, {ends.hour}h et {ends.min}min</p>
			<a id="button" id="enchere" href={'/auction/' + id}> Enchérir</a>
		</aside>
	</div>
</article>
<style>
	article {
		/*border: 2px solid black;*/
		flex: 1;
		flex-direction: column;
		display: flex;
		margin: 0 30px;
		justify-content: center;
		padding: 1% 1%;
		background: linear-gradient(
			to right,
			var(--theme-button) 45%,
			rgba(0, 0, 0, 1) 55%
		);
	}

	img {
		border-image: radial-gradient(rgba(0, 0, 0, 1) 75%, rgba(0, 0, 0, 0) 100%);
		border-radius: 5px;
		outline-offset: -10px;
		max-width: 100%;
		max-height: 100%;
		display: block;
		margin: auto;
	}

	.img_container {
		outline: 20px solid rgba(0, 0, 0, 0.5);
		background: radial-gradient(rgba(0, 0, 0, 0) 70%, rgba(0, 0, 255, 1) 100%);
		outline-offset: -20px;
		padding: 0;
		max-width: 100%;
		max-height: 100%;
		display: block;
	}

	.bigchungus {
		display: flex;
		width: 40%;
		flex-direction: column;
		/*border: 2px solid green;*/
		align-items: center;
		justify-content: center;
		padding: 10px;
	}

	.gradient {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		height: 100%;
		/*border: 2px solid blue;*/
		background: linear-gradient(
			to left,
			var(--theme-primary) 40%,
			rgba(0, 0, 0, 1) 60%
		);
	}

	aside {
		display: flex;
		width: 45%;
		flex-direction: column;
		/*border: 2px solid green;*/
		align-items: center;
		justify-content: space-between;
		padding: 0 15px;
	}

	h1 {
		font-size: 2em;
	}

	p {
		font-size: 1.25em;
	}

	p:nth-child(4) {
		color: red;
	}

	#button {
		text-decoration: none;
		font-size: 1.5rem;
		padding: 0.5rem 1rem;
		margin: 0.5rem;
		border-radius: 0.5rem;
		background-color: var(--theme-button);
		color: var(--theme-button-text);
	}

	#button:hover {
		filter: brightness(1.2);
	}
</style>
